body {
    background-color: #8a0639;
    color: gold;
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px gold,
        0 0 30px goldenrod,
        0 0 40px goldenrod,
        0 0 55px goldenrod,
        0 0 70px goldenrod;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

textarea {
    border-radius: 0.25rem;
    border: none;
    line-height: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    resize: none;
}
